:root {
  --main1: #00368A;  
  --main2: #0070BA;  
  --main3: #2B88D9;  
  --main4: #940000;  
  --text-gray: #535862;
  --text-gray2: #A4A7AE;
  --text-black: #181D27;
  --text-black2: #121212;
  --main-gradient: linear-gradient(180deg, #41E0DE 0%, #0B167F 100%);

} 
@font-face {
  font-family: 'helvethaica';
  src: url('../fonts/DB-Helvethaica-X3.ttf'); 
}


a{
  text-decoration: none !important; 
}
a:hover{
  text-decoration: none;
} 
body{
  font-family: "helvethaica", serif;
  font-style: normal;
}     
header{
  border-bottom: 1px solid #F5F5F5;
  background: #FFFFFF;
  height: 80px;
}
.navbar-brand img{
  height: 48px;
}
.navbar-brand{
  margin-right: 80px;
}
.navbar .nav-item{
  margin-right: 48px;
}
.navbar .nav-item a{
  font-size: 24px;
  font-weight: 400;
  transition: .33s all ease-out;  
  color: var(--text-gray);
}
.navbar .nav-item:hover a{ 
  color: var(--main2);
}
.navbar .nav-item.active a{ 
  color: var(--main2);
}
main{
  padding-top: 80px;
}
.sec-home{
  background-image: url(../images/female-doctor.png) , url(../images/Ellipse6.png) ,  url(../images/cover.png);
  background-position: right bottom , right bottom , center;
  background-repeat: no-repeat , no-repeat , no-repeat;
  background-size: auto , auto , 100% auto !important;
  height: calc(100vh - 80px);
  position: relative;
}
.sec-home::after{
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  background: red;
  background: linear-gradient(180deg, rgba(43, 136, 217, 0) 0%, rgba(43, 136, 217, 0.1) 100%);
}
.sec-home .container .row > div{
  height: calc(100vh - 80px); 
}
.sec-home h1{ 
  font-size: 88px;
  font-weight: 500;
  line-height: 72px;   
  color: var(--bl);
}
.sec-home h1 span{ 
  color: var(--main3);
}
.sec-home h6{ 
  color: var(--text-gray2);
  font-size: 28px;
  line-height: 28px;
}
.sec-home p{ 
  color: var(--text-black2);
  font-size: 28px;
  margin-bottom: 0px;
  line-height: 28px;
}
.sec-home p i{ 
  color: var(--main3);
  font-size: 20px;
  padding-right: 12px;
}
.sec-home .btn-primary{  
  font-size: 24px;
  padding: 14px 28px ;
  border-radius: 8px;
  border-color:  var(--main3);
  background-color: var(--main3) !important;
  margin-right: 10px;
}
.sec-home .btn-default{  
  font-size: 24px;
  padding: 14px 28px ;
  border-radius: 8px; 
  color:  var(--main3);
}










/* 
transition: .33s all ease-out;  
  font-family: "Noto Sans Thai", serif;
######################################################################################################
###################################################################################################### 
*/ 
 

@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }   
}
@media only screen and (min-width: 1025px) { /* PC */
  .pc-x{
    display: none !important;
  }     
}     
 