:root {
  --main1: #00368A;  
  --main2: #0070BA;  
  --main3: #2B88D9;  
  --main4: #940000;  
  --text-gray: #535862;
  --text-gray2: #A4A7AE;
  --text-black: #181D27;
  --text-black2: #121212;
  --main-gradient: linear-gradient(180deg, #41E0DE 0%, #0B167F 100%);
} 
@font-face {
  font-family: 'helvethaica';
  src: url('../fonts/DB-Helvethaica-X3.ttf'); 
}


a{
  text-decoration: none !important; 
}
a:hover{
  text-decoration: none;
} 
body{
  font-family: "helvethaica", serif;
  font-style: normal;
  overflow-x: hidden;
}     
header{
  border-bottom: 1px solid #F5F5F5;
  background: #FFFFFF;
  height: 80px;
}
.navbar-brand img{
  height: 48px;
}
.navbar-brand{
  margin-right: 80px;
}
.navbar .nav-item{
  margin-right: 48px;
}
.navbar .nav-item a{
  font-size: 24px;
  font-weight: 400;
  transition: .33s all ease-out;  
  color: var(--text-gray);
}
.navbar .nav-item:hover a{ 
  color: var(--main2);
}
.navbar .nav-item.active a{ 
  color: var(--main2);
}
main{
  padding-top: 80px;
}
.sec-home{
  background-image: url(../images/female-doctor.png) , url(../images/Ellipse6.png) ,  url(../images/cover.png);
  background-position: right bottom , right bottom , center;
  background-repeat: no-repeat , no-repeat , no-repeat;
  background-size: auto , auto , 100% auto !important;
  height: calc(100vh - 80px);
  position: relative;
}
/* .sec-home::after{
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  background: red;
  background: linear-gradient(180deg, rgba(43, 136, 217, 0) 0%, rgba(43, 136, 217, 0.1) 100%);
  height: 320px;
} */
.sec-home .container .row > div{
  height: calc(100vh - 80px); 
}
.sec-home h1{ 
  font-size: 88px;
  font-weight: 500;
  line-height: 72px;   
  color: var(--bl);
}
.sec-home h1 span{ 
  color: var(--main3);
}
.sec-home h6{ 
  color: var(--text-gray2);
  font-size: 28px;
  line-height: 28px;
}
.sec-home p{ 
  color: var(--text-black2);
  font-size: 28px;
  margin-bottom: 0px;
  line-height: 28px;
}
.sec-home p i{ 
  color: var(--main3);
  font-size: 20px;
  padding-right: 12px;
}
.sec-home .btn-primary{  
  font-size: 24px;
  padding: 14px 28px ;
  border-radius: 8px;
  border-color:  var(--main3);
  background-color: var(--main3) !important;
  margin-right: 10px;
}
.sec-home .btn-default{  
  font-size: 24px;
  padding: 14px 28px ;
  border-radius: 8px; 
  color:  var(--main3);
}
.ava-doctors{
  padding-top: 97px;
  padding-left: 30px;
}
.ava-inner{
  background-color: #fff;
  box-shadow: -4.86px -12.15px 60.74px 0px #1212121A; 
  padding: 20px;
  width: 230px;
  border-radius: 12px;  
}
.ava-inner h4{
  color: var(--text-black2);
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 0px;
  font-weight: bold;
}
.ava-inner h5{
  color: var(--text);
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 0px;
}
.ava-inner img{
  border-radius: 100%;
  object-fit: cover;
  height: 56px;
  width: 56px;
  margin-right: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.ava-inner .btn-find{
  width: 100%;
  background-color: #EDF1FF;
  width: 100%;
  color: var(--main3);
}
.sec-home .container{
  z-index: 11 !important;
}
.h-plus-b{
  position: absolute;
  bottom: 0px;
  width: 288px; 
  z-index: 22 !important; 
  right: 35% !important;
  display: flex;
  margin: auto;
}
.h-plus-t{
  position: absolute;
  bottom: 0px;
  height: 619px;
  z-index: -1 !important;
  top: -100px !important;
  right: 0 !important;
  display: flex;
  margin: auto;
}
.sec2{
  background-color: #fff;
  padding-top: 96px;
  padding-bottom: 96px;
}
.sec2 .carousel-indicators{
  right: -145px;
}
.sec2 .carousel-indicators button{
  background-color: var(--main2);
  width: 12px;
  height: 12px;
  border-radius: 100%;
}
.sec2 .carousel-indicators button.active{
  background-color: var(--main3);
} 
.sec2 h1{
  color: var(--text-black);
  font-size: 48px;
  margin-bottom: 24px;
} 
.sec2 p{
  color: var(--text-gray2);
  font-size: 28px; 
  line-height: 24px;
} 
.sec2 .carousel-item img{
  width: 100%;
  height: 282px;
  object-fit: cover;
  border-radius: 16px;
}
.sec3{ 
  padding-top: 96px;
  padding-bottom: 96px;
  background-image: url(../images/bgsec3-r.png) ,  url(../images/bgsec3-l.png);
  background-position:  right top , left top;
  background-repeat: no-repeat , no-repeat;
  background-size: auto 100% ,  calc(100% - 12%) 100% !important; 
  position: relative;
}
.se3top{
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  height: 320px;
  background-image: url(../images/se3top.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto !important;
  z-index: 5;
}
.se3bot{
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 320px;
  background-image: url(../images/se3bot.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto !important;
  z-index: 5;
}
.sec3 .container{
  position: relative;
  z-index: 11 !important;
}
.cardm{
  box-shadow: 0px 24px 32px -3px #0309320A;
  border-radius: 24px;
  padding: 32px;
  background-color: #fff;
}
.sec3 h4{
  color: var(--main3);
  font-size: 26px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 16px; 
}
.sec3 h1{
  color: var(--text-black);
  font-size: 48px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 24px;
}
.sec3 p{
  color: var(--text-gray2);
  font-size: 28px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 0px;
}
.sec3 .main-ab-card{
  margin-top: 64px;
}
.sec3 h2{
  color: #000;
  font-size: 32px;
  line-height: 36px; 
  margin-bottom: 12px;
}
.sec3 h6{
  color: var(--text-gray2);
  font-size: 24px;
  line-height: 24px; 
  margin-bottom: 12px;
}
.sec3 .cardm img{
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-bottom: 24px;
  object-fit: cover;
} 
.sec4{ 
  padding-top: 96px;
  padding-bottom: 96px; 
  position: relative; 
}
.sec4 h4{
  color: var(--main3);
  font-size: 26px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 16px; 
}
.sec4 h1{
  color: var(--text-black);
  font-size: 48px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 24px;
}
.sec4 p{
  color: var(--text-gray2);
  font-size: 28px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 0px;
}
.sec4 .container{
  position: relative;
  z-index: 11 !important;
}  
.se4top{
  position: absolute;
  top: 0; 
  left: 0;
  width: 392px;
  height: 560px;
  background-image: url(../images/sec41.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto !important;
  z-index: 5;
}
.se4bot{
  position: absolute;
  bottom: 0; 
  right: 0;
  width: 268px;
  height: 382px;
  background-image: url(../images/sec42.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto !important;
  z-index: 5;
}
.sec4 nav{
  margin-top: 48px;
  margin-bottom: 48px;
}
.sec4 nav .nav-link{
  min-width: 120px;
  border: 1px solid #E9EAEB;
  background-color: #fff;
  color: var(--main3) !important;
  font-size: 20px;
  line-height: 20px;
  border-radius: 8px;
  margin-left: 10px;
  margin-right: 10px;
}
.sec4 nav .nav-link.active{ 
  background-color: var(--main3);
  color: #fff !important; 
}
.pro-item{
  margin-bottom: 48px;
}
.pro-item .div-img{
  height: 300px;
  background-color: #FAFAFA;
  border-radius: 16px; 
  margin-bottom: 16px;
}
.pro-item .div-img img{
  height: 100%;
  width: auto;
  object-fit: cover;
  display: block;
  margin: auto;
}
.pro-item h3{
  color: #000;
  font-size: 24px;
  line-height: 24px; 
  margin-bottom: 8px;
}
.pro-item h4{ 
  color: var(--text-gray2);
  font-size: 24px;
  line-height: 24px; 
  margin-bottom: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: left !important;
}
.pro-item a{
  color: var(--main3);
  font-size: 24px;
  line-height: 24px; 
  transition: .33s all ease-out;  
}
.pro-item:hover a{
  color: var(--main1); 
}
.btn-primary{
  background-color: var(--main3) !important;
  border-color: var(--main3) !important;
  color: #fff;
  font-size: 24px;
  line-height: 24px; 
  padding: 12px 40px;
}
.sec5{ 
  padding-top: 96px;
  padding-bottom: 96px; 
  position: relative; 
  background: #f8fbfd; 
}
.sec5 h4{
  color: #535862;
  font-size: 26px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 24px; 
}
.sec5 img{
  max-height: 80px;
}
.sec6{ 
  padding-top: 96px;
  padding-bottom: 96px;  
  background: #fff; 
}
.sec6 h1{  
  color: var(--text-black);
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  margin-bottom: 0px;
}
.sec6 h3{  
  color: var(--text-gray);
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
.accordion{
  margin-top: 64px;
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: #fff !important;
  box-shadow: none !important;
}
.accordion-item {
  color: var(--bs-accordion-color);
  background-color: #fff !important;
  border: 0px !important;
  margin-top: 15px;
  padding-bottom: 15px; 
  border-bottom: 1px solid #E9EAEB !important;
}
.accordion-header .accordion-button{
  color: var(--text-black);
  font-size: 28px;
  line-height: 28px;
  padding-left: 0px;
  padding-right: 0px;
  font-weight: 500;

}
.accordion-item .accordion-body{
  color: var(--text-gray);
  font-size: 22px;
  line-height: 28px;
  padding: 0px 20px 0px 0px;  
}
.accordion-button.collapsed::after{
  content: none !important;
}
.accordion-button::after{
  content: none !important;
}
.accordion-button::before{
  content: "" !important;
  background-image: url(../images/Icon-minus.png);
  position: absolute;
  background-position: center !important;
  background-repeat: no-repeat !important;
  right: 0; 
  width: 26px;
  height: 26px;
}
.accordion-button.collapsed::before{ 
  background-image: url(../images/Icon-plus.png); 
}
.sec7{ 
  padding-top: 96px;
  padding-bottom: 96px;  
  background-color: var(--main3); 
}
.sec7 h1{  
  color: #fff;
  font-size: 48px;
  line-height: 40px; 
  margin-bottom: 20px;
}
.sec7 p{  
  color: #fff;
  font-size: 24px;
  line-height: 24px; 
  margin-bottom: 0px;
}
.sec7 .form-control{
  box-shadow: 0px 1px 2px 0px #0A0D120D;
  height: 40px;
  border-radius: 6px;
  padding-left: 40px;
  color: var(--text-black);
  font-size: 22px; 
}
.sec7 .form-control::placeholder{
  color: #717680;
}
.sec7 .form-control + img{
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 22px;
}
.sec7 .btn-primary{
  height: 42px;
  background-color: #00A4F4 !important;
  color: #fff;
  font-size: 24px;
  line-height: 24px; 
  white-space: nowrap;
  padding-top: 10px;
}
footer{
  background-color: #fff;
  padding: 48px 0px 24px;
}
footer h6{
  padding-top: 18px;
  border-top: 1px solid #E9EAEB;
  color: var(--text-gray2);
  font-size: 24px;
  line-height: 24px; 
  margin-top: 30px;
}
footer .logo2{
  height: 48px;
  display: block;
  margin-bottom: 20px;
}
footer p{
  padding-right: 200px;
  color: var(--text-gray2);
  font-size: 24px;
  line-height: 24px; 
  margin-bottom: 20px;
}
footer .social-icon img{
  width: 24px;
  height: 24px;
  margin-right: 24px;
}
footer h3{
  color: #414651;
  font-size: 24px;
  line-height: 24px; 
  margin-bottom: 16px;
}
footer ul{
  padding-left: 0px;
  margin-bottom: 0px;
  list-style: none;
}
footer ul li{ 
  margin-bottom: 12px;  
  padding-left: 0px;
}
footer ul li a{  
  color: var(--text-gray2);
  font-size: 20px;
  line-height: 20px; 
}
footer ul li img{
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
.sec3.no-bg{
  background-image: none !important;
  background-color: #fff;
}
.sec3 h3{
  font-size: 32px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 24px;
}
.ab-des{
  margin-top: 60px;
}
.ab-des img{
  border-radius: 16px;
}
.cover-product{
  height: 320px; 
  background-image: url(../images/pro.png); 
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 100% auto;
}
.cover-about{
  height: 320px; 
  background-image: url(../images/abu.png); 
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 100% auto;
} 
.cover-cont{
  height: 320px; 
  background-image: url(../images/cont.png); 
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 100% auto;
} 
.sec-con h4{
  color: var(--main3);
  font-size: 26px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 16px; 
}
.sec-con h1{
  color: var(--text-black);
  font-size: 48px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 24px;
}
.sec-con{
  background-color: #fff;
  padding-top: 96px;
  padding-bottom: 96px;
}
.sec-con p{
  color: var(--text-gray2);
  font-size: 28px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 0px;
}
.contact-form{
  margin-top: 60px;
}
.form-bgc{
  background-color: #FAFAFA;
  padding: 40px 50px;
  border-radius: 16px;
}
.form-data h3{
  padding-left: 64px;
  position: relative;
  margin-bottom: 8px;
  color: var(--text-black);
  font-size: 32px;
  line-height: 32px;
} 
.form-data h3 img{
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  left: 0;
} 
.form-data h5{
  padding-left: 64px;
  margin-bottom: 8px;
  color: var(--text-gray);
  font-size: 24px;
  line-height: 24px;
} 
.form-data h6{
  margin-bottom: 48px;
  padding-left: 64px; 
  color: var(--main3);
  font-size: 24px;
  line-height: 24px;
} 
.form-bgc label{ 
  color: #414651;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 6px;
}
.form-bgc .form-control{ 
  border-radius: 6px;
  height: 48px;
  margin-bottom: 24px;
  border: 1px solid #D5D7DA;
  font-size: 24px;
  line-height: 24px;
}
.form-bgc textarea{ 
  min-height: 128px;
}
.form-bgc .form-check{ 
  color: #414651;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 6px;
}
.form-bgc .btn{ 
  background-color: var(--main3);
  color: #fff;
  width: 100%;
  font-size: 24px;
  line-height: 24px;
  margin-top: 10px;
  padding: 12px;
}
.form-bgc .form-check a{ 
  color: #414651;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 6px;
  text-decoration: underline !important;
}
.sec-map{
  height: 480px;
}



/* 
transition: .33s all ease-out;  
  font-family: "Noto Sans Thai", serif;
######################################################################################################
###################################################################################################### 
*/ 
 

@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }  
  footer{
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .container{
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  footer .ps-5{
    padding-left: 15px !important;
  }
  footer h3{
    margin-top: 30px;
  }
  footer p{
    padding-right: 0px; 
    text-align: left;
  }
  footer .social-icon{
    text-align: center;
  }
  footer .col-lg-8{
    text-align: center;
  }
  section{
    padding-top: 24px !important;
    padding-bottom: 24px !important;
  } 
  .sec5 .d-flex{
    display: block !important;
  }
  .sec5 .d-flex img{
    display: block !important;
    margin: 15px auto !important;
  }
  .sec7 p{
    margin-bottom: 15px;
  }
  .sec7 h1 {
    color: #fff;
    font-size: 36px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .sec7 .col-lg-8.pe-5{
    padding-right: 15px !important;
  }
  .sec7 .btn-primary { 
    padding-left: 17px !important;
    padding-right: 17px !important;
  }
  .accordion {
    margin-top: 25px;
  }
  .sec-home h1{ 
    font-size: 40px; 
    line-height: 40px;    
  }
  footer ul li a { 
    font-size: 18px;
    line-height: 18px;
  }
  header{
    height: 72px !important;
  }
  main {
    padding-top: 72px;
  }
  .sec-home{
    background-image: url(../images/female-doctor.png) , url(../images/Ellipse6.png) ,  url(../images/cover.png);
    background-position: right bottom , right bottom , center;
    background-repeat: no-repeat , no-repeat , no-repeat;
    background-size: auto 33%, auto 33%, auto 100%  !important;
    height: 500px;
    position: relative;
  }
  .sec-home .h-100 {
    height: unset !important;
  }
  .sec-home h6 { 
    font-size: 20px;
    line-height: 20px;
  }
  .sec-home p { 
    font-size: 18px; 
    line-height: 22px;
  }
  .h-plus-b {
    width: 220px;
  }
  .h-plus-t {
    height: 220px;
  }
  .sec2 .pe-5{
    padding-right: 10px !important;  
  }
  .sec2 .ps-5{
    padding-left: 15px !important;  
  }
  .sec2 h1 { 
    margin-top: 10px;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 14px;
  }
  .ava-inner{
    display: none !important;
  }
  .sec2 .carousel-item img {
    height: 200px;
  }
  .sec3{ 
    background-size: auto 100%  !important; 
  }
  .sec2 .carousel-indicators {
    right: 0 !important;
    bottom: -45px;
  }
  .sec2{
    padding-bottom: 60px !important;
  }
  .sec3 h1 { 
    font-size: 40px;
    line-height: 40px; 
    margin-bottom: 15px;
  }
  .sec3 .main-ab-card {
    margin-top: 24px;
  }
  .sec3 p { 
    font-size: 20px; 
  }
  .sec3 .cardm img { 
    width: 50px;
    height: 50px;
    margin-bottom: 15px; 
  }
  .cardm { 
    padding: 25px; 
    margin-bottom: 15px;
  }
  .se3top{ 
    background-size: auto 100%  !important; 
  }
  .se3bot{ 
    background-size: auto 100%  !important; 
  }
  .sec4 .se4top{
    display: none;
  }
  .sec4 .se4bot{
    display: none;
  }
  .sec3 h1 { 
    font-size: 40px; 
  }
  .sec4 h1 { 
    font-size: 40px; 
  }
  .sec4 nav .nav-link {
    min-width: unset !important;
    width: 23% !important;  
    font-size: 13px; 
    margin-left: 2px;
    margin-right: 2px;
  }
  .navbar-nav{
    background-color: #fff;
  }
  .navbar-toggler{
    border: none !important;
  }
  .navbar-brand {
    margin-right: 0px;
  }
  header .navbar .container{
    padding-left: 0px !important;
    padding-right: 0px !important;
    z-index: 222 !important;
  }
  header .nav-link{
    padding-left: 30px;
  }
  .cover-product{
    height: 155px;  
    background-size: auto 100% ;
  }
  .cover-about{
    height: 155px;  
    background-size: auto 100% ;
  }
  .cover-cont{
    height: 155px;  
    background-size: auto 100% ;
  }
  .ab-des .pe-5{
    padding-right: 15px !important;
  }
  .ab-des .ps-5{
    padding-left: 15px !important;
  }
  .od1{
    order: 1 !important;
  }
  .od2{
    order: 2 !important;
  }
  .ab-des img{
    margin-bottom: 20px !important;
  }
  .form-bgc{
    background-color: #FAFAFA;
    padding: 20px 20px;
    border-radius: 16px;
  }
}
@media only screen and (min-width: 1025px) { /* PC */
  .pc-x{
    display: none !important;
  }     
}     
 